<section class="class">
    <div>
        <h2>Animais: </h2>
        <ul>
            <!-- *ngFor="nome da lista" é usado para imprimir listas na tela após obter os dados da lista -->
            <li *ngFor="let animal of animals"> 
                Nome: {{ animal.name }}, Tipo: {{ animal.type }}
                <button (click)="showAge(animal)">Show Age</button>
                <button (click)="removeAnimal(animal)">Excluir</button>
            </li>
        </ul>
        <br>
        <h3>{{ animalDetails }}</h3>
    </div>
</section>