<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curso Angular 13</title>
</head>
<body>
  <header>
    <h1 class="titulo">Hello World Angular!</h1>
  </header>
  <section>
    <div>
      <app-first-component> </app-first-component>
      <a href="#">Clique Aqui!</a>
    </div>
    <div>
    </div>
  </section>
  <footer>

  </footer>
</body>
</html>