<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curso Angular 13</title>
</head>
<body>
  <header>
    <h1 class="header">Primeiro Projeto Angular 13</h1>
  </header>
  <section>
    <div>
      <app-first-component> </app-first-component>
      <app-parent-data [name]="userName" [password]="password" [userData]="userData"></app-parent-data>
      <app-directives></app-directives>
      <app-if-render></app-if-render>
      <app-events></app-events>
      <app-emitter></app-emitter>
      <app-list-render></app-list-render>
      <app-pipes></app-pipes>
      <app-two-way-binding></app-two-way-binding>
    </div>
    <div>

    </div>
  </section>
  <footer class="footer">
    <i> &copy; Matheus Alan </i>
  </footer>
</body>
</html>